
.header {
  max-width: 1200px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 15px;
}

.header a{
  text-decoration: none;
  color: #1E1E1E;
}

.left-side{
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: 'Quella', sans-serif;
  font-size: 24px;
  margin-right: 60px; 
  transition: 0.5s;

  
  &:hover{
    transform: scale(1.1);
  }
}

nav ul {
  font-size: 16px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
  opacity: 0.5;
  // color: #e0e0e0;

  .active{
    font-size: 18px;
    opacity: 1;
  }
}

.right-side{
  margin: 0px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.right-side a{
  padding-left: 30px;
  align-items: center;

}

.menu {
  border-left: solid 2px #1E1E1E;
  margin-left: 30px;
}


