
.filter{
  width: 260px;
  display: flex;
  flex-direction: column;
  margin-top: 66px;
  //text-align: center;

  .price_content{
    .range-slider{
      padding: 0 15px;
    }



    .input-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 240px;
      width: 2402px;

    }
    .min-box, .max-box{
      width: 45%;

      span{
        font-size: 12px;
        padding-left: 6px;
      }

      input{
        border: solid 1px #1e1e1e;
        border-radius: 8px;
        height: 20px;
        width: 100%;
        padding-left: 5px;
      }
    }
  }


  .filter--content{
    .content{
      padding: 5px 10px;
      font-size: 14px;
      .type{
        margin-bottom: 10px;
      }


      /* checkbox */
       input[type="checkbox"] {
        display: none;
      }
       input[type="checkbox"] + span {
        display: block;
        position: relative;
        padding-left: 35px;
  
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

       input[type="checkbox"]:hover + span:before {
        border: 1px solid #343a3f;
        box-shadow: 2px 1px 0 #343a3f;
      }
       input[type="checkbox"] + span:last-child {
        margin-bottom: 0;
      }
       input[type="checkbox"] + span:before {
        content: "";
        display: block;
        width: 1.4em;
        height: 1.4em;
        border: 1px solid #343a3f;
        border-radius: 1em;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s, background 0.2s ease-in-out;
        transition: all 0.2s, background 0.2s ease-in-out;
        background: #f3f3f3;
        box-shadow: -2px -1px 0 #343a3f;
      }
       input[type="checkbox"]:checked + span:before {
        border-radius: 1em;
        border: 2px solid #1e1e1e;
        width: 1.15em;
        height: 1.15em;
        background: rgba(30, 243, 254, 0.15);;
        box-shadow: 2px 1px 0 #50565a;
      }
      /* checkbox end */
    }

  }
  .button-apply{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 12px 12px;
    border-top: 2px #1e1e1e;
    font-weight: bold;
    font-size: 16px;
  }


}