
.filter{
  width: 300px;
  display: flex;
  flex-direction: column;
  //text-align: center;

  .price_content{
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 25px;
    overflow: hidden;

    .separator{
      width: 15%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: end;
    }

    .price_field{
      width: 40%;

      span{
        padding-left: 8px;
        font-size: 11px;
        line-height: 16px;
        color: #1e1e1e;
        text-align: start;
      }

      input{
        width: 100%;
        border: solid #1e1e1e 1px;
        border-radius: 8px;
        height: 20px;
        font-size: 12px;
        padding-left: 5px;
        appearance: textfield;
      }
      input[type="number"]::-webkit-outer-spin-button,
      input[type="number"]::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
  }

  .slider{
    height: 5px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;

    .progress{
      height: 5px;
      left: 25%;
      right: 25%;
      position: absolute;
      border-radius: 5px;
      background-color: #C1DCDC;
    }
  }

  .range-input{
    position: relative;

    input{
      position: absolute;
      top: 50%;
      width: 100%;
      background: none;
      pointer-events: none;
      transform: translateY(-50%);
      appearance: none;
      
    }
  }

  .filter--content{
    .content{
      padding: 5px 10px;
      font-size: 14px;
      .type{
        margin-bottom: 10px;
        &:last-child{
          // margin-bottom: 0px;
        }
      }
      /* checkbox */
       input[type="checkbox"] {
        display: none;
      }
       input[type="checkbox"] + span {
        display: block;
        position: relative;
        padding-left: 35px;
  
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
      }

       input[type="checkbox"]:hover + span:before {
        border: 1px solid #343a3f;
        box-shadow: 2px 1px 0 #343a3f;
      }
       input[type="checkbox"] + span:last-child {
        margin-bottom: 0;
      }
       input[type="checkbox"] + span:before {
        content: "";
        display: block;
        width: 1.4em;
        height: 1.4em;
        border: 1px solid #343a3f;
        border-radius: 1em;
        position: absolute;
        left: 0;
        top: 0;
        -webkit-transition: all 0.2s, background 0.2s ease-in-out;
        transition: all 0.2s, background 0.2s ease-in-out;
        background: #f3f3f3;
        box-shadow: -2px -1px 0 #343a3f;
      }
       input[type="checkbox"]:checked + span:before {
        border-radius: 1em;
        border: 2px solid #1e1e1e;
        width: 1.15em;
        height: 1.15em;
        background: #C1DCDC;
        box-shadow: 2px 1px 0 #50565a;
      }
      /* checkbox end */
    }

  }


}